<a href="https://colab.research.google.com/github/ahsanul-islam/Test-Bowler-Analysis/blob/main/test_bowlers_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Test Bowler Analysis**
## This notebook is an example of data analysis using python

Dataset Source : https://stats.espncricinfo.com/ci/content/records/93276.html

# Importing necessary libararies

In [1]:
import numpy as np
import pandas as pd

# Importing the excel file and display the headers

In [2]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data sets/EMK_WORKSHOP/bowlers.txt',delimiter='\t')

display(df.head(10))

                    Player       Span   Mat  Inns  ...  Econ    SR   5  10
0  M Muralitharan (ICC/SL)  1992-2010   133   230  ...  2.47  55.0  67  22
1           SK Warne (AUS)  1992-2007   145   273  ...  2.65  57.4  37  10
2        JM Anderson (ENG)  2003-2021  164*   304  ...  2.83  56.2  30   3
3         A Kumble (INDIA)  1990-2008   132   236  ...  2.69  65.9  35   8
4         GD McGrath (AUS)  1993-2007   124   243  ...  2.49  51.9  29   3
5          SCJ Broad (ENG)  2007-2021   149   274  ...  2.93  56.9  18   3
6            CA Walsh (WI)  1984-2001   132   242  ...  2.53  57.8  22   3
7            DW Steyn (SA)  2004-2019    93   171  ...  3.24  42.3  26   5
8      N Kapil Dev (INDIA)  1978-1994   131   227  ...  2.78  63.9  23   2
9        HMRKB Herath (SL)  1999-2018    93   170  ...  2.80  60.0  34   9

[10 rows x 14 columns]

# Interpretation of Each Column

Column no 0: Index
<br>
Column no 1: Player : Name of the player and country in brackets
<br>
Column no 2: Span   : Debut year to retirement year
<br>
Column no 3: Mat    : Number of matches the player played
<br>
Column no 4: Inns   : Number of innings the player played
<br>
Column no 5: Balls  : Number of balls the bowler delivered
<br>
Column no 6: Runs   : Total runs the bowler gave through his career
<br>
Column no 7: Wkts    : Total number of wickets the bowler took
<br>
Column no 8: BBI    : Best bowling figure in an innnings
<br>
Column no 9:BBM     : Best bowling figure in a match
<br>
Column no 10: Ave   : Average = (Runs/Wkts)
<br>
Column no 11: Econ  : Average run given in a single over by the bowler
<br>
Column no 12: SR    : Strike Rate=(Balls/Wickets)
<br>
Column no 13: 5     : Number of times where bowler had taken 5 wickets or more in a single innings
<br>
Column no 14: 10     : Number of times where bowler had taken 10 wickets or more in a single match

# Shape of the dataframe

In [3]:
size=list(df.shape)

print('The Dataframe has {} rows and {} colunms.'.format(size[0],size[1]))

The Dataframe has 79 rows and 14 colunms.

# Statistics about data and datatype

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  79 non-null     object
 1   Span    79 non-null     object
 2   Mat     79 non-null     object
 3   Inns    79 non-null     int64
 4   Balls   79 non-null     int64
 5   Runs    79 non-null     int64
 6   Wkts    79 non-null     int64
 7   BBI     79 non-null     object
 8   BBM     79 non-null     object
 9   Ave     79 non-null     float64
 10  Econ    79 non-null     float64
 11  SR      79 non-null     float64
 12  5       79 non-null     int64
 13  10      79 non-null     int64
dtypes: float64(3), int64(6), object(5)
memory usage: 8.8+ KB

# Renaming the columns

In [5]:
df.columns=['Player Name','Span','Number of Matches','Number of Innings','Total Balls Delivered','Total Runs Given','Total Wickets','Best Bowling Innings','Best Bowling Match','Average','Economy rate','Strike Rate','Five Wicket Haul','Ten Wicket Haul(Match)']

In [6]:
display(df.head(10))

               Player Name       Span  ... Five Wicket Haul  Ten Wicket Haul(Match)
0  M Muralitharan (ICC/SL)  1992-2010  ...               67                      22
1           SK Warne (AUS)  1992-2007  ...               37                      10
2        JM Anderson (ENG)  2003-2021  ...               30                       3
3         A Kumble (INDIA)  1990-2008  ...               35                       8
4         GD McGrath (AUS)  1993-2007  ...               29                       3
5          SCJ Broad (ENG)  2007-2021  ...               18                       3
6            CA Walsh (WI)  1984-2001  ...               22                       3
7            DW Steyn (SA)  2004-2019  ...               26                       5
8      N Kapil Dev (INDIA)  1978-1994  ...               23                       2
9        HMRKB Herath (SL)  1999-2018  ...               34                       9

[10 rows x 14 columns]

# Removing a column

In [7]:
df.drop('Strike Rate', axis=1, inplace=True)

display(df.head())

               Player Name       Span  ... Five Wicket Haul  Ten Wicket Haul(Match)
0  M Muralitharan (ICC/SL)  1992-2010  ...               67                      22
1           SK Warne (AUS)  1992-2007  ...               37                      10
2        JM Anderson (ENG)  2003-2021  ...               30                       3
3         A Kumble (INDIA)  1990-2008  ...               35                       8
4         GD McGrath (AUS)  1993-2007  ...               29                       3

[5 rows x 13 columns]